@model OpticaSanfrancisco.Models.Productos

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Familia" class="control-label"></label>
                <select asp-for="Familia" class="form-control" >
                     <option value="Montura">Montura</option>
                </select>
                <span asp-validation-for="Familia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Linea" class="control-label"></label>
                <select asp-for="Linea" class="form-control" >
                     <option value="Lentes Oftálmolicos">Lentes Oftálmolicos</option>
                     <option value="Lentes de Sol">Lentes de Sol</option>
                     <option value="Lentes Contacto">Lentes Contacto</option>
                </select>
                <span asp-validation-for="Linea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                 <select asp-for="Categoria" class="form-control" >
                     <option value="Aro Completo">Aro Completo</option>
                     <option value="Arco SemiCompleto">Arco SemiCompleto</option>
                </select>
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diseño" class="control-label"></label>
                <select asp-for="Diseño" class="form-control" >
                     <option value="Adulto">Adulto</option>
                     <option value="Niño">Niño</option>
                </select>
                <span asp-validation-for="Diseño" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion_Producto" class="control-label"></label>
                <input asp-for="Descripcion_Producto" class="form-control" />
                <span asp-validation-for="Descripcion_Producto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <select asp-for="Marca" class="form-control" >
                    <option value="OAKLEY">OAKLEY</option>
                    <option value="CARDUCCI">CARDUCCI</option>
                    <option value="VOGUE">VOGUE</option>
                    <option value="VOCACIO">VOCACIO</option>
                    <option value="VOCACIO">ANGELINA</option>
                    <option value="Anti-Blue-light">Anti-Blue-light</option>
                    <option value="S/M">S/M</option>
                    <option value="Silloneffe">Silloneffe</option>
                    <option value="Overtop">Overtop</option>
                    <option value="A-koko">A-koko</option>
                    <option value="Sobre-lente-Niño">Sobre-lente-Niño</option>
                    <option value="UV-400">UV-400</option>
                    <option value="UV-401">UV-401</option>
                    <option value="UV-402">UV-402</option>
                    <option value="UV-403">UV-403</option>
                    <option value="UV-404">UV-404</option>
                     <option value="UV-405">UV-405</option>
                    <option value="UV-406">UV-406</option>
                    <option value="UV-407">UV-407</option>
                    <option value="UV-408">UV-408</option>
                    <option value="UV-409">UV-409</option>
                    <option value="UV-410">UV-410</option>
                </select>
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material" class="control-label"></label>
                 <select asp-for="Material" class="form-control" >
                     <option value="Acetato">Acetato</option>
                     <option value="Acetato-Metal">Acetato-Metal</option>
                     <option value="Policarbonato">Policarbonato</option>
                     <option value="Metal">Metal</option>
                </select>
                <span asp-validation-for="Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Talla" class="control-label"></label>
                <input asp-for="Talla" class="form-control" />
                <span asp-validation-for="Talla" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kalibre" class="control-label"></label>
                <input asp-for="Kalibre" class="form-control" />
                <span asp-validation-for="Kalibre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descrip_Color" class="control-label"></label>
                <input asp-for="Descrip_Color" class="form-control" />
                <span asp-validation-for="Descrip_Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input asp-for="Imagen" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" >
                     <option value="A">A</option>
                     <option value="I">I</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>                
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
