@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" >
   
<div class="card text-center" >
  <div class="card-header" >
  </div>
  <div class="card-body" style="background: #2789B5 ;">
    <h5 class="card-title"><h2 style="-webkit-text-stroke: 1px  black;color: #FDFEFE; text-align: center;  font-size: 50px;"> Nosotros </h2></h5>
    <p class="card-text">
    </p>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>

<main>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
   
    </div>
  </div>
  <div class="col">
   
  </div>
  <div class="col">
    <div class="card">
     </div>
  </div>
</div>
 </main>

<div class="card text-center" >
  <div class="card-header" >
  </div>
    <div class="card-body" style="background: #2789B5 ;">
    <h5 class="card-title"><h2 style="-webkit-text-stroke: 1px  
       
  </div>
  <div class="card-footer text-muted">
  </div>
</div>

<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="~/img/sn1.jpg" class="w-70" alt="...">
  </div>
  <div class="col-md-6 p-4 ps-md-0" >
     <h5 class="mt-0 text-centerstyle="margin-top: 50%;"" > </h5>
     <p style="margin-top: 0.5%;">
<p>Somos una empresa Arequipeña comprometida con la salud de los ciudadanos tanto en la medición de la vista como en las ventas de los lentes de alta calidad, ubicada en el centro de la ciudad desde aproximadamente 20 años  </p>
<br>
NUESTRA MISIÓN 
<p>Es ofrecer servicios de calidad y productos que satisfagan totalmente las necesidades de los clientes, solucionando los problemas visuales proporcionando una atención personalizada.</p>
<br>
NUESTRA VISÓN
<p>Ser empresas líderes en el mercado oftalmológico y óptico de la región sur, fortaleciendo nuestra imagen con soluciones integrales a las crecientes y complejas necesidades de salud visual, demostrando con eficiencia y eficacia la capacidad para resolverlas. </p>

<br>

<h2 class="card-title"
      style="-webkit-text-stroke: 1px  black;color: #FDFEFE; text-align: center;  font-size: 30px;"> 
     ¡Bienvenidos a Optica San Francisco!</h2>

    </p>
    <a href="#" class="stretched-link " style="margin-left: 50%;"><span style="text-align: center; margin-top: 20%;"></span> </a>
  </div>
</div>
</div>
