@{
    ViewData["Title"] = "Home Page";
}

<div class="carrusel">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="~/Img/carrusel4.jpg" alt="First slide" width="500" height="500">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="~/Img/carrusel6.jpg" alt="Second slide"width="500" height="500">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="~/Img/carrusel5.jpg" alt="Third slide"width="500" height="500">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

    <link rel="stylesheet" href="~/css/slide.css" />
   

    		<!-- CONTENIDO -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

		<div class="col-md-12">
						<div class="section-title text-center">
							<h3 class="title" style="margin-top: 80px; font-size: 25px;">MONTURAS</h3>
						</div>
					</div>

					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/lente1.jpg" alt="">
							</div>
							<div class="product-body">
								<p class="product-category"></p>
								<h3 class="product-name"><a href="#">RAY BAN 03RB2132 F60268 55</a></h3>
								<h4 class="product-price">S/. 353.00</h4>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i></button>
									<button class="add-to-cart"><i class="fa fa-shopping-cart"></i></button>
								</div>
							</div>
						</div>
					</div>
					<!-- /product -->

					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/lente2.jpg" alt="">
							</div>
							<div class="product-body">
								<p class="product-category"></p>
								<h3 class="product-name"><a href="#">RAY BAN 03RB2140 901 58 54</a></h3>
								<h4 class="product-price">S/. 361.00</h4>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i></button>
									<button class="add-to-cart"><i class="fa fa-shopping-cart"></i></button>
								</div>
							</div>
						</div>
					</div>
					<!-- /product -->

					<div class="clearfix visible-sm visible-xs"></div>

					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/lente3.jpg" alt="">
							</div>
							<div class="product-body">
								<p class="product-category"></p>
								<h3 class="product-name"><a href="#">RAY BAN 03RB3025 90664A 58</a></h3>
								<h4 class="product-price">S/. 325.00</h4>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i></button>
									<button class="add-to-cart"><i class="fa fa-shopping-cart"></i></button>
								</div>
							</div>
						</div>
					</div>
					<!-- /product -->

					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/lente4.jpg" alt="">
							</div>
							<div class="product-body">
								<p class="product-category"></p>
								<h3 class="product-name"><a href="#">RAY BAN 03RB3595 901383 59</a></h3>
								<h4 class="product-price">S/. 315.00</h4>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i></button>
									<button class="add-to-cart"><i class="fa fa-shopping-cart"></i></button>
								</div>
							</div>
						</div>
					</div>
					<!-- /product -->

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>